<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../css/footer.css">
    <title>Footer</title>
</head>

<body>
    <header>
        <nav>

        </nav>
    </header>

    <main>
        <article>
            <section>

            </section>
        </article>
    </main>

    <!-- Footer -->
    <footer class="bg-dark text-center text-white">
        <!-- Grid container -->
        <div class="container p-4">
            <!-- Section: Social media -->
            <section class="mb-4">
                <!-- Facebook -->
                <a class="btn btn-outline-light btn-floating m-1 a-footer" href="https://facebook.com" role="button"><i
                        class="bi bi-facebook"></i></a>

                <!-- Twitter -->
                <a class="btn btn-outline-light btn-floating m-1 a-footer" href="https://twitter.com" role="button"><i
                        class="bi bi-twitter-x"></i></a>

                <!-- Google -->
                <a class="btn btn-outline-light btn-floating m-1 a-footer" href="https://google.com" role="button"><i
                        class="bi bi-google"></i></a>

                <!-- Instagram -->
                <a class="btn btn-outline-light btn-floating m-1 a-footer" href="https://instagram.com" role="button"><i
                        class="bi bi-instagram"></i></a>

                <!-- Linkedin -->
                <a class="btn btn-outline-light btn-floating m-1 a-footer" href="https://linkedin.com" role="button"><i
                        class="bi bi-linkedin"></i></a>

                <!-- Github -->
                <a class="btn btn-outline-light btn-floating m-1 a-footer" href="https://github.com" role="button"><i
                        class="bi bi-github"></i></a>
            </section>
            <!-- Section: Social media -->

            <!-- Section: Form -->
            <section class="">
                <form action="">
                    <!--Grid row-->
                    <div class="row d-flex justify-content-center">
                        <!--Grid column-->
                        <div class="col-auto">
                            <p class="pt-2">
                                <a class="btn_green_white_innerfade btn_border_2px btn_medium a-footer"
                                    href="/login.html">
                                    <span>Iniciar sesión</span>
                                </a>                                
                            </p>                            
                        </div>
                        <!--Grid column-->
                    </div>
                    <!--Grid row-->
                </form>
            </section>
            <!-- Section: Form -->

            <!-- Section: Text -->
            <section class="mb-4">                                
                O <a class="a-footer" href="/register.html">regístrate</a> y únete a
                Debugging Demons VideoGames de forma gratuita
            </section>
            <!-- Section: Text -->

            <!-- Section: Form -->
            <section class="">
                <div>Todos los precios incluyen IVA (donde sea aplicable).&nbsp;&nbsp;

                    <a class="a-footer" href="/frontend/src/components/acerda_de.html" target="_blank" rel="">Acerca de</a>
                    &nbsp; | &nbsp;
                    <a class="a-footer" href="/frontend/src/components/Contacto.html" target="_blank" rel="">Contacto</a>                            
                </div>
            </section>
            <!-- Section: Links -->

        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2023 Copyright:
            <a class="text-white a-footer" href="https://index.com/">Debugging Demons</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>