<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <title>Login</title>
</head>
<body>
    <div class="container-form sign-in" >
        <form class="formulario">
            <h2 class="create-account">Iniciar Sesion</h2>
            <div class="iconos">
              <div class="border-icon">
                <i class='bx bxl-instagram-alt'></i>
              </div>
              <div class="border-icon">
                <i class='bx bxl-google' ></i>
              </div>        
              <div class="border-icon">
                <i class='bx bxl-facebook-circle' ></i>
              </div>
            </div>
            <p class="cuenta-gratis">¿Aun no tienes cuenta?</p>
    
            <input type="text" placeholder="Email">
            <input type="text" placeholder="contraseña">
            <input type="button" value="Iniciar Sesion">
          </form>
          <div class="welcome-back">
      <div class="mesagge">
        <h2>Bienvenido de nuevo</h2>
        <p>Si aun no tienes cuenta por favor registrese aqui</p>
        <button class="sign-in-btn"><a href="/frontend/src/components/registro.html" target="_self">Registrarse</a></button>
      </div>
    </div>
    </div>
</body>
</html>