<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../css/pago-carrito.css">
    <link rel="stylesheet" href="../css/main.css">
    <title>Pagos</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
                data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <a class="navbar-brand mt-2 mt-lg-0" href="http://127.0.0.1:5500/frontend/">
                    <img src="../img/logo.png" height="25" alt="Logo" loading="lazy" />
                </a>
    
                <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="items_navbar"></ul>
            </div>
    
            <div class="d-flex align-items-center gap-3">
                <div>
                    <a class="text-reset me-3" href="http://127.0.0.1:5500/frontend/src/components/carrito.html">
                        <i class="fas fa-shopping-cart text-white"></i>
                        <span class="span-num-videjuegos-carrito badge rounded-pill badge-notification bg-danger"></span>
                    </a>
                </div>
    
                <a href="http://127.0.0.1:5500/frontend/src/components/profile.html">
                    <i class="fa-solid fa-user" style="color: #ffffff;"></i>
                </a>
    
                <i class="fa-solid fa-power-off" data-bs-toggle="modal" data-bs-target="#modal-cerrar-session"
                    id="end-session"></i>
            </div>
        </div>
    </nav>
    <div class="contenedor">
        <form action="">
        <div class="card">
            <div class="card-top border-bottom text-center">
                <span id="logo">DD Games</span>
            </div>
            <div class="card-body mt-3">
                <div class="row">
                    <div class="col-md-7 p-4">
                        <div class="left border">
                            <div class="row">
                                <span class="header">Pago</span>
                                <div class="icons">
                                    <img src="https://img.icons8.com/color/48/000000/visa.png" />
                                    <img src="https://img.icons8.com/color/48/000000/mastercard-logo.png" />
                                    <img src="https://img.icons8.com/color/48/000000/maestro.png" />
                                </div>
                            </div>
                            <form>
                                <span>Nombre</span>
                                <input placeholder="Nombre" required>
                                <span>Card Number:</span>
                                <input placeholder="Numero de Tarjeta" required>
                                <div class="row">
                                    <div class="col-4"><span>Fecha de Expiración:</span>
                                        <input placeholder="YY/MM" required>
                                    </div>
                                    <div class="col-4"><span>CVV:</span>
                                        <input id="cvv" required type="text">
                                    </div>
                                </div>
                                <input type="checkbox" id="save_card" class="align-left" required>
                                <label for="save_card">Recordar mi tarjeta</label>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="right border">
                            <div class="header">Resumen</div>
                            <p class="cantidad-items-carrito"></p>

                            <div style="height: 328px;">
                                <div class="contenedor-juegos" style="overflow-y: scroll; max-height: 100px;">
                                </div>

                                <hr>
                                <div class="row lower">
                                    <div class="col text-left">Subtotal</div>
                                    <div class="col text-right subtotal"></div>
                                </div>
                                <div class="row lower">
                                    <div class="col text-left"><b class="precioTotal"></b></div>
                                    <div class="col text-right "><b class="total-a-pagar"></b></div>
                                </div>
                                <div class="row lower">
                                    <div class="col text-left"><a href="#"><u>Codigo de descuento</u></a></div>
                                </div>
                                <button type="button" class="btn btn-generico btn-generico-payment" data-bs-toggle="modal" data-bs-target="#ignismyModal">
                                    Pagar
                                </button>
                            </div>
                        </div>

                        <div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </form>
    </div>

    
    <div class="modal fade" id="modal-cerrar-session" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content modal-cerrar">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Sing Out</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ¿Quiere cerrar sesión?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger" id="sing-out">SALIR</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="ignismyModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a type="button" class="close boton-vaciar-carrito" data-dismiss="modal" href="http://127.0.0.1:5500/frontend/" aria-label=""><span>×</span></a>
                </div>
                <div class="modal-body">
                    <div class="thank-you-pop">
                        <img src="http://goactionstations.co.uk/wp-content/uploads/2017/03/Green-Round-Tick.png" alt="">
                        <h1>Gracias por tu compra 👾!</h1>
                        <p>Ya puedes disfrutar de tus juegos favoritos</p>
                        <h3 class="cupon-pop"><img src="../img/logo.png" alt=""></span></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="bg-dark text-center text-white">
        <div class="container p-4">
            <section class="mb-4">
                <a class="btn btn-outline-light btn-floating m-1 a-footer" href="https://facebook.com" role="button"><i
                        class="bi bi-facebook"></i></a>
                <a class="btn btn-outline-light btn-floating m-1 a-footer" href="https://twitter.com" role="button"><i
                        class="bi bi-twitter-x"></i></a>
                <a class="btn btn-outline-light btn-floating m-1 a-footer" href="https://google.com" role="button"><i
                        class="bi bi-google"></i></a>
                <a class="btn btn-outline-light btn-floating m-1 a-footer" href="https://instagram.com" role="button"><i
                        class="bi bi-instagram"></i></a>
                <a class="btn btn-outline-light btn-floating m-1 a-footer" href="https://linkedin.com" role="button"><i
                        class="bi bi-linkedin"></i></a>
                <a class="btn btn-outline-light btn-floating m-1 a-footer" href="https://github.com" role="button"><i
                        class="bi bi-github"></i></a>
            </section>

            <section class="">
                <form action="">
                    <div class="row d-flex justify-content-center">
                        <div class="col-auto">
                            <p class="pt-2">
                                <a class="btn-generico btn-footer-inicio-sesion btn_border_2px btn_medium a-footer"
                                    href="./login.html">
                                    <span>Iniciar sesión</span>
                                </a>
                            </p>
                        </div>
                    </div>
                </form>
            </section>

            <section class="mb-4">
                O <a class="a-footer" href="./register.html">regístrate</a> y únete a
                Debugging Demons VideoGames de forma gratuita
            </section>

            <section class="">
                <div>Todos los precios incluyen IVA (donde sea aplicable).&nbsp;&nbsp;
                    <a class="a-footer" href="./pago-carrito.html" target="_blank" rel="">Acerca de</a>
                    &nbsp; | &nbsp;
                    <a class="a-footer" href="./contacto.html" target="_blank" rel="">Contacto</a>
                </div>
            </section>
        </div>

        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2023 Copyright:
            <a class="text-white a-footer" href="https://index.com/">Debugging Demons</a>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>

    <script src="../js/pago-carrito.js"></script>
    <script src="../js/navbar.js"></script>

</body>

</html>