<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Sobre nosotros</title>

    <!-- CSS -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Sono:wght@200;300;400;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/bootstrap-icons.css" />
    <!-- Estilos Carousel -->
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"
    />
    <link rel="stylesheet" href="../css/templatemo-pod-talk.css" />
  </head>

  <body>
    <main>
      <nav class="navbar navbar-expand-lg"></nav>

      <header
        class="site-header d-flex flex-column justify-content-center align-items-center"
      >
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-12 text-center">
              <h2 class="mb-0">¿Qué quienes somos?</h2>
            </div>
          </div>
        </div>
      </header>

      <section class="about-section section-padding" id="section_2">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-12 mx-auto">
              <div class="pb-5 mb-5">
                <div class="section-title-wrap mb-4">
                  <h4 class="section-title">
                    Bueno, te contamos nuestra historia...
                  </h4>
                </div>
                <p>
                  Somos un equipo formado por siete estudiantes de la carrera
                  “Tecnicatura Universitaria en Programación” en la UTN de San
                  Rafael, Mendoza, Argentina. Con el correr del tiempo fuimos
                  forjando un vínculo muy fuerte, más allá de la relación
                  estudiantil, que nos ayudó a salir adelante en cada uno de los
                  desafíos que se nos presentaron en la carrera.
                </p>
                <p>
                  Todos compartimos un interés, que es la afición a los videos
                  juegos, sobre todo compartimos esa rica nostalgia por los
                  “jueguitos de videos ochentosos”. Por eso, cuando surgió en el
                  tramo final de la carrera la tarea de realizar un proyecto
                  final integrador, decidimos realizar esta página web dedicada
                  a esta pasión, que queremos compartir con ustedes.
                </p>
                <p>
                  Por eso nuestra misión a través de este proyecto, nuestro “por
                  qué”, es poder ofrecerte un servicio de calidad, diferente,
                  que te dé aquello que a nosotros nos costó conseguir, ya sea
                  por falta de opciones o de personas que “nos entendieran”.
                  ¿Cómo lo hacemos? Tratándote de igual a igual, haciendo
                  nuestra a tu búsqueda, a tu necesidad. Porque hacemos esto por
                  gusto, por hobbie, y porque entendemos por dónde pasa tu
                  búsqueda.
                </p>
              </div>
            </div>

            <section class="hero-section">
              <div class="container">
                <div class="row">
                  <div class="col-lg-12 col-12">
                    <div class="text-center mb-5 pb-2">
                      <h1 class="text-white">Y con ustedes, nosotros...</h1>
                    </div>
                    <div class="owl-carousel owl-theme">
                      <div class="owl-carousel-info-wrap item">
                        <a href="https://github.com/SebasGalvan" target="_blank">
                          <img
                            src="https://avatars.githubusercontent.com/u/47829817?v=4"
                            class="owl-carousel-image img-fluid"
                            alt=""
                          />
                        </a>
                        <div class="ml-3">
                          <p class="text-center h4 name"><a href="https://github.com/SebasGalvan" target="_blank">Sebastián Galván</a></p>
                        </div>
                      </div>

                      <div class="owl-carousel-info-wrap item">
                        <a href="https://github.com/Aguppesce" target="_blank">
                          <img
                              src="https://avatars.githubusercontent.com/u/56004874?v=4" 
                              class="owl-carousel-image img-fluid"
                              alt="" 
                          />
                      </a>
                      <p class="text-center h4 name"><a href="https://github.com/Aguppesce" target="_blank">Agustín Pérez Pesce</a></p>
                      </div>

                      <div class="owl-carousel-info-wrap item">
                        <a href="https://github.com/TanitoCode" target="_blank">
                          <img
                            src="https://avatars.githubusercontent.com/u/103687865?v=4"
                            class="owl-carousel-image img-fluid"
                            alt=""
                          />
                        </a>
                        <p class="text-center h4 name"><a href="https://github.com/TanitoCode" target="_blank">Mario Cristian Sánchez</a></p>
                      </div>

                      <div class="owl-carousel-info-wrap item">
                        <a href="https://github.com/BraianTroncoso" target="_blank">
                          <img
                            src="https://avatars.githubusercontent.com/u/95662710?v=4"
                            class="owl-carousel-image img-fluid"
                            alt=""
                          />
                        </a>
                        <p class="text-center h4 name"><a href="https://github.com/BraianTroncoso" target="_blank">Braian Troncoso</a></p>
                      </div>

                      <div class="owl-carousel-info-wrap item">
                        <a href="https://github.com/SantSRJ" target="_blank">
                          <img
                            src="https://avatars.githubusercontent.com/u/95856855?v=4"
                            class="owl-carousel-image img-fluid"
                            alt=""
                          />
                        </a>
                        <p class="text-center h4 name"><a href="https://github.com/SantSRJ" target="_blank">Santiago Mendoza</a></p>
                      </div>

                      <div class="owl-carousel-info-wrap item">
                        <a href="https://github.com/Marianoleonardofarias" target="_blank">
                          <img
                            src="https://avatars.githubusercontent.com/u/101066897?v=4"
                            class="owl-carousel-image img-fluid"
                            alt=""
                          />
                        </a>
                        <p class="text-center h4 name"><a href="https://github.com/Marianoleonardofarias" target="_blank">Mariano Leonardo Farías</a></p>
                      </div>

                      <div class="owl-carousel-info-wrap item">
                        <a href="https://github.com/francogenre" target="_blank">
                          <img
                            src="https://avatars.githubusercontent.com/u/84336216?v=4"
                            class="owl-carousel-image img-fluid"
                            alt=""
                          />
                        </a>
                        <p class="text-center h4 name"><a href="https://github.com/francogenre" target="_blank">Franco Sebastián Genre</a></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </section>
    </main>

    <footer class="site-footer"></footer>

    <!-- JAVASCRIPT -->
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.bundle.min.js"></script>
    <!-- Carousel -->
    <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script>
      $(document).ready(function () {
        $(".owl-carousel").slick({
          autoplay: true,
          autoplaySpeed: 2000,
          dots: true,
          arrows: true,
        });
      });
    </script>
  </body>
</html>
