<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Sobre nosotros</title>



    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Sono:wght@200;300;400;500;700&display=swap"
      rel="stylesheet"
    />
    <!-- Estilos Carousel -->
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"
    />
    <link rel="stylesheet" href="../css/templatemo-pod-talk.css" />
  </head>

  <body>

      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
          </button>
      
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <a class="navbar-brand mt-2 mt-lg-0" href="http://127.0.0.1:5500/frontend/">
              <img src="../img/logo.png" height="25" alt="Logo" loading="lazy" />
            </a>
      
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="items_navbar"></ul>
          </div>
      
          <div class="d-flex align-items-center gap-3">
            <div>
              <a class="text-reset me-3" href="http://127.0.0.1:5500/frontend/src/components/carrito.html">
                <i class="fas fa-shopping-cart text-white"></i>
                <span class="span-num-videjuegos-carrito badge rounded-pill badge-notification bg-danger"></span>
              </a>
            </div>
      
            <a href="http://127.0.0.1:5500/frontend/src/components/profile.html">
              <i class="fa-solid fa-user" style="color: #ffffff;"></i>
            </a>
      
            <i class="fa-solid fa-power-off" data-bs-toggle="modal" data-bs-target="#modal-cerrar-session"
              id="end-session"></i>
          </div>
        </div>
      </nav>
    <main>
      <header
        class="site-header d-flex flex-column justify-content-center align-items-center"
      >
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-12 text-center">
              <h2 class="mb-0">¿Qué quienes somos?</h2>
            </div>
          </div>
        </div>
      </header>

      <section class="about-section section-padding" id="section_2">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-12 mx-auto">
              <div class="pb-5 mb-5">
                <div class="section-title-wrap mb-4">
                  <h4 class="section-title">
                    Bueno, te contamos nuestra historia...
                  </h4>
                </div>
                <p>
                  Somos un equipo formado por siete estudiantes de la carrera
                  “Tecnicatura Universitaria en Programación” en la UTN de San
                  Rafael, Mendoza, Argentina. Con el correr del tiempo fuimos
                  forjando un vínculo muy fuerte, más allá de la relación
                  estudiantil, que nos ayudó a salir adelante en cada uno de los
                  desafíos que se nos presentaron en la carrera.
                </p>
                <p>
                  Todos compartimos un interés, que es la afición a los videos
                  juegos, sobre todo compartimos esa rica nostalgia por los
                  “jueguitos de videos ochentosos”. Por eso, cuando surgió en el
                  tramo final de la carrera la tarea de realizar un proyecto
                  final integrador, decidimos realizar esta página web dedicada
                  a esta pasión, que queremos compartir con ustedes.
                </p>
                <p>
                  Por eso nuestra misión a través de este proyecto, nuestro “por
                  qué”, es poder ofrecerte un servicio de calidad, diferente,
                  que te dé aquello que a nosotros nos costó conseguir, ya sea
                  por falta de opciones o de personas que “nos entendieran”.
                  ¿Cómo lo hacemos? Tratándote de igual a igual, haciendo
                  nuestra a tu búsqueda, a tu necesidad. Porque hacemos esto por
                  gusto, por hobbie, y porque entendemos por dónde pasa tu
                  búsqueda.
                </p>
              </div>
            </div>

            <section class="hero-section">
              <div class="container">
                <div class="row">
                  <div class="col-lg-12 col-12">
                    <div class="text-center mb-5 pb-2">
                      <h1 class="text-white">Y con ustedes, nosotros...</h1>
                    </div>
                    <div class="owl-carousel owl-theme">
                      <div class="owl-carousel-info-wrap item">
                        <a href="https://github.com/SebasGalvan" target="_blank">
                          <img
                            src="https://avatars.githubusercontent.com/u/47829817?v=4"
                            class="owl-carousel-image img-fluid"
                            alt=""
                          />
                        </a>
                        <div class="ml-3">
                          <p class="text-center h4 name"><a href="https://github.com/SebasGalvan" target="_blank">Sebastián Galván</a></p>
                        </div>
                      </div>

                      <div class="owl-carousel-info-wrap item">
                        <a href="https://github.com/Aguppesce" target="_blank">
                          <img
                              src="https://avatars.githubusercontent.com/u/56004874?v=4" 
                              class="owl-carousel-image img-fluid"
                              alt="" 
                          />
                      </a>
                      <p class="text-center h4 name"><a href="https://github.com/Aguppesce" target="_blank">Agustín Pérez Pesce</a></p>
                      </div>

                      <div class="owl-carousel-info-wrap item">
                        <a href="https://github.com/TanitoCode" target="_blank">
                          <img
                            src="https://avatars.githubusercontent.com/u/103687865?v=4"
                            class="owl-carousel-image img-fluid"
                            alt=""
                          />
                        </a>
                        <p class="text-center h4 name"><a href="https://github.com/TanitoCode" target="_blank">Mario Cristian Sánchez</a></p>
                      </div>

                      <div class="owl-carousel-info-wrap item">
                        <a href="https://github.com/BraianTroncoso" target="_blank">
                          <img
                            src="https://avatars.githubusercontent.com/u/95662710?v=4"
                            class="owl-carousel-image img-fluid"
                            alt=""
                          />
                        </a>
                        <p class="text-center h4 name"><a href="https://github.com/BraianTroncoso" target="_blank">Braian Troncoso</a></p>
                      </div>

                      <div class="owl-carousel-info-wrap item">
                        <a href="https://github.com/SantSRJ" target="_blank">
                          <img
                            src="https://avatars.githubusercontent.com/u/95856855?v=4"
                            class="owl-carousel-image img-fluid"
                            alt=""
                          />
                        </a>
                        <p class="text-center h4 name"><a href="https://github.com/SantSRJ" target="_blank">Santiago Mendoza</a></p>
                      </div>

                      <div class="owl-carousel-info-wrap item">
                        <a href="https://github.com/Marianoleonardofarias" target="_blank">
                          <img
                            src="https://avatars.githubusercontent.com/u/101066897?v=4"
                            class="owl-carousel-image img-fluid"
                            alt=""
                          />
                        </a>
                        <p class="text-center h4 name"><a href="https://github.com/Marianoleonardofarias" target="_blank">Mariano Leonardo Farías</a></p>
                      </div>

                      <div class="owl-carousel-info-wrap item">
                        <a href="https://github.com/francogenre" target="_blank">
                          <img
                            src="https://avatars.githubusercontent.com/u/84336216?v=4"
                            class="owl-carousel-image img-fluid"
                            alt=""
                          />
                        </a>
                        <p class="text-center h4 name"><a href="https://github.com/francogenre" target="_blank">Franco Sebastián Genre</a></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </section>
    </main>



      <div class="modal fade" id="modal-cerrar-session" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content modal-cerrar">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Sing Out</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              ¿Quiere cerrar sesión?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-danger" id="sing-out">SALIR</button>
            </div>
          </div>
        </div>
      </div>
      
      <footer class="bg-dark text-center text-white">
        <div class="container p-4">
          <section class="mb-4">
            <a class="btn btn-outline-light btn-floating m-1 a-footer" href="https://facebook.com" role="button"><i
                class="bi bi-facebook"></i></a>
            <a class="btn btn-outline-light btn-floating m-1 a-footer" href="https://twitter.com" role="button"><i
                class="bi bi-twitter-x"></i></a>
            <a class="btn btn-outline-light btn-floating m-1 a-footer" href="https://google.com" role="button"><i
                class="bi bi-google"></i></a>
            <a class="btn btn-outline-light btn-floating m-1 a-footer" href="https://instagram.com" role="button"><i
                class="bi bi-instagram"></i></a>
            <a class="btn btn-outline-light btn-floating m-1 a-footer" href="https://linkedin.com" role="button"><i
                class="bi bi-linkedin"></i></a>
            <a class="btn btn-outline-light btn-floating m-1 a-footer" href="https://github.com" role="button"><i
                class="bi bi-github"></i></a>
          </section>
      
          <section class="">
            <form action="">
              <div class="row d-flex justify-content-center">
                <div class="col-auto">
                  <p class="pt-2">
                    <a class="btn-generico btn-footer-inicio-sesion btn_border_2px btn_medium a-footer" href="/login.html">
                      <span>Iniciar sesión</span>
                    </a>
                  </p>
                </div>
              </div>
            </form>
          </section>
      
          <section class="mb-4">
            O <a class="a-footer" href="/register.html">regístrate</a> y únete a
            Debugging Demons VideoGames de forma gratuita
          </section>
      
          <section class="">
            <div>Todos los precios incluyen IVA (donde sea aplicable).&nbsp;&nbsp;
              <a class="a-footer" href="/frontend/src/components/acerda_de.html" target="_blank" rel="">Acerca de</a>
              &nbsp; | &nbsp;
              <a class="a-footer" href="/frontend/src/components/Contacto.html" target="_blank" rel="">Contacto</a>
            </div>
          </section>
        </div>
      
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2023 Copyright:
          <a class="text-white a-footer" href="https://index.com/">Debugging Demons</a>
        </div>
      </footer>


    <!-- JAVASCRIPT -->
    <script src="../js/jquery.min.js"></script>
    <script src="../js/navbar.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <!-- Carousel -->
    <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script>
      $(document).ready(function () {
        $(".owl-carousel").slick({
          autoplay: true,
          autoplaySpeed: 2000,
          dots: true,
          arrows: true,
        });
      });
    </script>
  </body>
</html>
