.btn_medium > span, input.btn_medium {
  padding: 0 15px;
  font-size: 15px;
  line-height: 30px;
}
.btn_border_2px > span {
  border-radius: 3px;
}
.btn_green_white_innerfade > span {
  border-radius: 2px;
  display: block;
  background: #799905;
  background: -webkit-linear-gradient( top, #799905 5%, #536904 95%);
  background: linear-gradient( to bottom, #799905 5%, #536904 95%);
}
* {
  padding: 0;
  margin: 0;
}
.btn_green_white_innerfade {
  cursor: pointer;
  color: #D2E885 !important;
}

.a-footer {
  color: #ffffff;
}

.btn_green_white_innerfade:not(.btn_disabled):not(:disabled):not(.btn_active):not(.active):hover > span {
    background: #a1bf07;
    background: -webkit-linear-gradient( top, #a1bf07 5%, #80a006 95%);
    background: linear-gradient( to bottom, #a1bf07 5%, #80a006 95%);
  }