* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }

  body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(/frontend/src/img/fondo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
  
  }
  .container-form {
    width: 90% ;
    height: 90vh;
    display: flex;
    justify-content: space-around;
    transition: all .5s ease-out;
  }

  
.welcome-back {
    display: flex;
    align-items: center;
    text-align: center;
  }

.message h2 {
    font-size: 1.7rem;
    padding: 1rem 0;
  }  
  .sign-up-btn a:link, a:visited, a:active {
    text-decoration:none;
  }
  
  .sign-in-btn a:link, a:visited, a:active {
    text-decoration:none;
    color: #fff;
     
  }
    
  .sign-up-btn, .sign-in-btn {
    padding: 1rem;
    font-weight: 400;
    background-color: #4a4aee;
    border-radius: 2rem;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: .9rem;
    margin-top: 2rem;
    transition: all .3s ease-in;
     
  }

  .sign-up-btn:hover {
    background-color: #6464f8;
  }
  